<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>buy electricity with Glecharge</title>
</head>
<body>
  <form action="/data/approved" method="post">
    <script src="https://checkout.flutterwave.com/v3.js"></script>
    <label for="Customer_Name">customer</label>
    <input type="text" name="Customer_Name" id="Customer_Name" value=" <%= Customer_Name %>" ><br>
    <label for="MeterNumber">meter_number</label>
    <input type="tel" name="MeterNumber" id="MeterNumber" value=" <%= MeterNumber %>" ><br>
    <label for="Address">Address</label>
    <input type="text" name="Address" id="Address" value=" <%= Address %>" ><br>
    <label for="Meter_Type">Meter_Type</label>
    <input type="text" name="Meter_Type" id="Meter_Type" value=" <%= Meter_Type %>" ><br>
    <label for="email">Email</label>
    <input type="text" name="email" id="email" placeholder="email here" ><br>
    <label for="amount">Amount</label>
    <input type="number" name="amount" id="amount" placeholder="amount here" ><br>
    <label for="phone">Phone</label>
    <input type="tel" name="phone" id="phone" placeholder="phone here" ><br>
    <label for="service_id" hidden>service_id</label>
    <input type="text" name="service_id" id="service_id" value=" <%= service_id %>" hidden >
    <button type="button" onClick="makePayment()"> pay now !</button>
  </form>
</body>
</html>

<script>
  
  function makePayment() {
    const phone_number = document.getElementById('phone').value
    const email = document.getElementById('email').value
    const amount = document.getElementById('amount').value
    const name = document.getElementById('Customer_Name').value
    const Address = document.getElementById('Address').value
    const MeterNumber = document.getElementById('MeterNumber').value
    const Meter_Type = document.getElementById('Meter_Type').value
    const service_id = document.getElementById('service_id').value
    FlutterwaveCheckout({
      public_key: "FLWPUBK_TEST-8e6858868683e5fb3e1eda62f8b77765-X",
      tx_ref: Date.now(),
      amount,
      currency: "NGN",
      country: "NG",
      payment_options: "card",
      redirect_url: "http://localhost:5000/buy_electricity",
      meta: {
        Address,
        MeterNumber,
        Meter_Type,
      service_id
  },
      customer: {
        email,
        phone_number,
        name,
      },
      callback: function (data) {
        console.log(data);
      },
      onclose: function () {
        // close modal
      },
      customizations: {
        title: "Pay for your Airtime Here",
        description: "Airtime Payment",
        logo: "https://cdn.iconscout.com/icon/premium/png-256-thumb/payment-2193968-1855546.png",
      },
    });
  }

</script>



