<%- include("partials/header") %>
<div class="container" id="buyform">
  <form action="/buy_electricity" method="get">
    <label class="form-label" for="Customer_Name">Customer Name</label>
    <input class="form-control"  type="text" name="Customer_Name" id="Customer_Name" value=" <%= Customer_Name %>" required><br>
    <label class="form-label" for="MeterNumber">Meter Number</label>
    <input class="form-control"  type="tel" name="MeterNumber" id="MeterNumber" value=" <%= MeterNumber %>" required><br>
    <label class="form-label" for="Address">Address</label>
    <input class="form-control"  type="text" name="Address" id="Address" value=" <%= Address %>" ><br>
    <label class="form-label" for="Meter_Type">Meter_Type</label>
    <input class="form-control"  type="text" name="Meter_Type" id="Meter_Type" value=" <%= Meter_Type %>" required ><br>
    <label class="form-label" for="email">Email</label>
    <input class="form-control" type="text" name="email" id="email" placeholder="email here" required><br>
    <label class="form-label" for="amount">Amount</label>
    <input class="form-control" type="number" name="amount" id="amount" placeholder="amount here" required><br>
    <label class="form-label" for="phone">Phone</label>
    <input class="form-control" type="tel" name="phone" id="phone" placeholder="phone here" required><br>
    <label class="form-label" for="service_id" >service_id</label>
    <input class="form-control"  type="text" name="service_id" value="<%= service_id %>" required  ><br>
    <button class="btn btn-block btn-dark mt-3 mb-2" style="width: 100%;" type="submit"> pay now !</button>
  </form>
</div>
<%- include("partials/footer") %>



